/*webstudio*/
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  background: #ffffff;
  color: #000000;
}
/*Header*/
.header {
}
.webstudio {
  color: #2196f3;
}
.studio {
  color: #000000;
}
.navigation {
}
.list-nav {
}
.item-navigation {
}
.link-navigation {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.02em;

  color: #212121;
}
.current {
  color: #2196f3;
}
.link-navigation:hover,
.link-navigation:focus {
  color: #2196f3;
}
.contacts {
}
.contacts-mail {
}
.link-mail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.02em;

  color: #757575;
}
.link-mail:hover,
.link-mail:focus {
  color: #2196f3;
}
.contacts-tel {
}
.link-tel {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.02em;
  color: #757575;
}
.link-tel:hover,
.link-tel:focus {
  color: #2196f3;
}

/* Особенности*/
main-home {
}
.home {
  background: #2f303a;
}
.home-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: normal;

  color: #ffffff;
}
.btn-home {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: normal;

  color: #212121;
}

.text-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.btn {
}
.hide {
}
.title-hiden {
}
.list-hide {
}
.item-hide {
}
.hide-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.hide-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: normal;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.work {
}
.title-work {
}
.list-work {
}
.item-work {
}
.team {
}
.title-team {
}
.list-team {
}
.item-team {
}
.team-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;

  color: #212121;
}
.team-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: normal;

  color: #757575;
}

/*Наша команда*/

/* Подвал*/
.webstudio-footer {
  color: #2196f3;
}
.studio-footer {
  color: #ffffff;
}
.container {
  background-color: #000000;
}
.country {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.mail-footer,
.tel-footer {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.mail-footer:hover,
.mail-footer:focus {
  color: #2196f3;
}
.tel-footer:hover,
.tel-footer:focus {
  color: #2196f3;
}
/*Porfolio*/
.main-portfolio {
}
.section-portfolio {
}
.portfolio-title {
}
.menu-btn:hover,
.menu-btn:focus {
  background: #2196f3;
  color: #ffffff;
}

.menu-btn {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;

  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  cursor: pointer;
}
.porfolio-card {
}
.project-item-web {
}
.project-item-design {
}
.project-item-marketing {
}
.project-item-applications {
}
.title-project {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;

  letter-spacing: 0.06em;

  color: #212121;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: normal;

  letter-spacing: 0.03em;

  color: #757575;
}
li {
  list-style-type: none;
}
